
#bodyAjax{ min-height:99.9%; margin-top:2.5rem; padding-bottom:1.5rem; }
.soc_bg{ background-color:#0751B1 !important; }

#wbo_header{
background:#CCC;
box-shadow: 0 1px 1px rgba(0,0,0,.1);
padding:0.5rem 0.25rem 0.25rem 0.25rem;
margin-bottom:0.25rem; position:fixed; z-index:1; width:calc(100% - 0.5rem); top:0; left:0;
}
.wbo_notify { float:right; }
/* loader top */
.___jsLoader1{ background:rgba(255,255,255,0.5) url(http://st2.admsistems.com/_img/loader1.gif) no-repeat center center !important; position:fixed; top:0; left:0; width:100%; height:100%; color:#000; padding-top:3rem;  }
.___jsLoader1 div { margin:0 auto; width:30rem; height:30rem; margin:0 auto;  }
/* MENU app */
#__menuList{ display:inline-block;}
.ulWrapLevel{ }
.__menuListWrap{ z-index:10; top:1rem; left:0; width:90%; display:none; position:fixed; background:#FFF; padding:0.25rem; border:0.0625rem solid #CCC; max-height:90%; overflow:auto; }
.ulWrapLevel ul ul:not([class='ulList']){ padding:0 !important; border-left:1px solid #FBE983; margin-left:0.5rem; }
.ulWrapLevel li, .ulWrapLevel ._ulFoldLi { line-height:1.3; padding:0.05rem; position:relative; white-space:nowrap; width:98%; }
.ulWrapLevel ._ulFoldLi ._r { position:absolute; right:0; top:20%; width:1rem; white-space:nowrap; overflow:hidden;}
.ulWrapLevel ul li a:hover{ background:#CCC; }
.ulWrapLevel li button { text-transform:capitalize; display:block; text-align:left; width:99%; padding:0.25rem; font-size:inherit !important; background-color:transparent; border:none; }
.ulWrapLevel li button:hover { background:#CCC; cursor:pointer; }
.ulWrapLevel li a._link{ text-decoration:none; padding:0.25rem; display:block; }
.ulWrapLevel li._link:hover{ background:#CCC;}
.ulWrapLevel .close{ position:absolute; top:0; left:0; }

.nowrap{ white-space:nowrap; overflow:hidden; }
.noDisplay{ display:none; }

/* DOM-HTML WINDOWS */
.DOMwin_open { position:fixed; min-width:8rem; top:4%; left:10%; background:rgba(255,255,255,0.8); max-width:80%;
}
.DOMwin_openFull{ top:0 !important; left:0 !important;  width:100% !important; max-height:100% !important; height:100% !important; min-width:0 !important; min-height:0 !important; max-width:100% !important; max-height:100% !important;}
.DOMwin_open .winWrapTop { position:relative; top:0; left:0; min-height:2.25rem; }
.DOMwin_open .winTitle { padding:0.625rem 1rem; background:#596875; color:#FFF; }
.DOMwin_open .winWrap { border:0.0625rem solid #596875; border-radius:0.3125rem; background:#FFF; position:relative; height:100%; overflow-y:auto; }
.DOMwin_open .iBg_close, .DOMwin_open .iBg_move, .DOMwin_open .btnResize { position:absolute; right:0.375rem; top:0.375rem; cursor:pointer; }
.DOMwin_open .iBg_move { right:1.9375rem;  }
.DOMwin_open .btnResize { right:3.8375rem;  }
.DOMwin_open .winWrapCont { padding:0.5rem; }

.DOMwin_bkFixed{ position:fixed; width:100%; height:100%; top:0; left:0; background:rgba(255,255,255,0.8);
}
.DOMwin_bkFixed .winTitle { padding:10px 15px; background:#596875; color:#FFF; }
.DOMwin_bkFixed .winWrapInt { padding-top:1rem; margin:0 auto; }
.DOMwin_bkFixed .winWrap { border:1px solid #596875; border-radius:5px; background:#FFF; min-height:100px; position:relative;  overflow-y:auto; max-height:500px; }
.DOMwin_bkFixed .iBg_close { position:absolute; right:6px; top:6px; cursor:pointer; }
.DOMwin_bkFixed .winWrapCont { padding:10px 5px 5px 5px; max-height:80%;  }
/* SELECT tipo div */
.divSel{ display:inline-block; position:relative; }
.divSel .options{ max-width:7rem; width:100%; white-space:nowrap; overflow:hidden; }
.divLine .divSel .options { max-width:100%; }
.divSelect .line { padding:6px 3px; border-bottom:1px solid #CCC; }
.divSelect .line:hover{ background-color:#CCC; cursor:pointer; }

.divList { position:absolute; top:100%; left:0; background-color:#FFF; border:1px solid #CCC; min-height:100px; z-index:1; min-height:100%; min-width:90%; padding:6px; }
.divList .line { padding:6px 3px; border-bottom:1px solid #CCC; display:block !important; }
.divList .line:hover{ background-color:#CCC; cursor:pointer; }

div._i{ display:inline-block; padding:0; margin:0 0.25rem; position:relative; 
font-weight:normal; text-transform:none; height:0; float:right;
}
div._i:after { content:" "; clear:both; }
._i .fa { color:#0F0; }
._i_wrap{ display:none; position:absolute; min-width:15rem; padding:0.25rem; border:0.0625rem solid #000; border-radius:0.25rem; background:#FFF; font-size:0.9rem !important; z-index:1; }

.btnList{
	background:none; border:none; 
}
.btnList:hover{ background-color:#CCC; }

/* win Classes */
._winMinRel{
	position:absolute; background:#FFF; min-width:8rem; max-width:16rem; max-height:1rem; z-index:1;
}
._winMinRel_intWrap{
	border:0.0625rem solid #596875; border-radius:0.31rem; background:#FFF; min-height:6.25rem; position:relative; margin-bottom:0.25rem;
	overflow:auto; padding:0.5rem; max-height:15rem;
}
._winMinRel_title{ padding:5px 7px; background:#596875; color:#FFF; }
._rightCalc{ left:calc(100% - 1.5rem); }

/* bloques de formularios y campos */
.divLineTitleSection { padding:0.625rem 0.25rem 0.375rem; background-color:#CCC; margin-top:0.25rem; }
.divLineTitleSection_descrip { padding:0.625rem 0.25rem 0.375rem; font-size:0.75rem;}
.divLine_wrapDescrip:before { content:""; clear:both; display:block; padding:0.15rem 0; }
.divLine_wrapDescrip { font-size:0.75rem; }
.divLine { display:block; padding:0.3125rem 0; position:relative; margin-bottom:0.375rem; border-bottom:0.0625rem solid #CCC; }
.wrapDivLineSingle .divLine { padding:0; border:none; }
.divLine_noBd { margin-bottom:0.125rem !important; border-bottom:none !important; }
.divLine2 { padding:0.125rem 0 !important; margin-bottom:0.125rem; }
.divLine2 label { float:left; min-width:120px; width:10%; }
.divLine2 .input  { float:left; min-width:300px; width:70% !important; display:inline-block !important; min-height:initial !important; }
div.input { min-height:auto !important; }

.wrapxAuto, .wrapx2, .wrapx3, .wrapx4, .wrapx5, .wrapx6, .wrapx7, .wrapx8,
.wrapx3_1, .wrapx4_1, .wrapx5_1, .wrapx6_1, .wrapx7_1, .wrapx8_1, .wrapx9, .wrapx9_1,.wrapx10, .wrapx10_1
{
	float:left; margin-right:0.125rem;
}
.divLine:after { clear:both; content:""; display:block; }
.divLine .wrapx1{ width:100%; }
.divLine .wrapx2{ width:49%;}
.wrapx3{ width:33%; }
.divLine .wrapx3_1 { width:66.5%; }
.divLine .wrapxAuto { width:auto; margin-right:0.375rem;}
.divLine .wrapx4 { width:24.5%; }
.divLine .wrapx4_1 { width:74.5%; }
.divLine .wrapx5 { width:19.5%; }
.divLine .wrapx5_1 { width:79.5%; }
.divLine .wrapx6 { width:16.5%; }
.divLine .wrapx6_1 { width:82.5%; }
.divLine .wrapx7 { width:14.15%; }
.divLine .wrapx7_1 { width:84.85%; }
.divLine .wrapx8 { width:12%; }
.divLine .wrapx8_1 { width:87%; }
.divLine .wrapx9 { width:10.8%; }, .wrapx9_1{ width:88.8%; }
.divLine .wrapx10 { width:9.5%; }, .wrapx10_1 { width:90%; }
.wrapx3:nth-child(3), .wrapx4:nth-child(4)
{ margin-right:0px; }
.divLine label { display:inline-block; margin-bottom:4px; font-size:12px; color:#000; text-transform:uppercase; font-weight:600; }
.divLineBg label { background-color:#DDD; width:98.5%;  min-height:20px; vertical-align:middle; }
/* tbf */
.tbf { display:block; padding:0.3125rem 0; position:relative; margin-bottom:0.375rem; }
.tbf:after { clear:both; content:""; display:block; }
.tbf_label { font-size:0.8rem; display:block; font-weight:bold; }
.tbf_txt{ display:block; line-height:1.2; }

.tbf_x1,.tbf_x2,.tbf_x3,.tbf_x3_1,.tbf_x4,.tbf_x4_1,.tbf_x5,.tbf_x5_1,.tbf_x6,.tbf_x6_1,.tbf_x7,.tbf_x7_1,.tbf_x8,.tbf_x8_1,.tbf_x9,.tbf_x9_1,.tbf_x10,.tbf_x10_1
{
	float:left; margin-right:0.125rem; border-bottom: 1px solid #b7b5b5; margin-bottom:0.5rem; 
}
.tbf div:last-child{ margin-right:0; }
.tbf .tbf_x1{ width:100%; }
.tbf .tbf_x2{ width:49%;}
.tbf .tbf_x3{ width:33%; } .tbf .tbf_x3_1 { width:66.5%; }
.tbf .tbf_x4 { width:24.5%; } .tbf .tbf_x4_1 { width:74.5%; }
.tbf .tbf_x5 { width:19.5%; } .tbf .tbf_x5_1 { width:79.5%; }
.tbf .tbf_x6 { width:16.5%; } .tbf .tbf_x6_1 { width:82.5%; }
.tbf .tbf_x7 { width:14.15%; } .tbf .tbf_x7_1 { width:84.85%; }
.tbf .tbf_x8 { width:12%; } .tbf .tbf_x8_1 { width:87%; }
.tbf .tbf_x9 { width:10.8%; }, ..tbf .tbf_x9_1{ width:88.8%; }
.tbf .tbf_x10 { width:9.5%; }, ..tbf .tbf_x10_1 { width:90%; }


/* ffline - Field Form Line */
.ffLine{ display:block; padding:0.2rem 0; position:relative; margin-bottom:0.30rem; 
 font-size:0.85rem; color:#000;
}
.ffLine:after { clear:both; content:""; display:block; }
.ffLine label { display:inline-block; margin-bottom:0.25rem; font-weight:600; margin-right:0.25rem; }
.ffLine .ffx_ { margin-right:0.125rem; }
.ffLineNoBd .ffLine > div { border-bottom:none !important; }
.ffLine div { display:inline-table; }
.ffLine .ffx1{ width:100%; }
.ffLine .ffx2{ width:49%;}
.ffLine .ffx3{ width:32.5%; }, .ffLine .ffx3_1 { width:66.5%; }
.ffLine .ffx4{ width:24.5%; }, .ffLine .ffx4_1 { width:74.5%; }
.ffLine .ffx6{ width:16.25%; }, .ffLine .ffx6_1 { width:83.5%; }
.ffLine .ffx8{ width:calc(12.5% - 0.125rem); }, .ffLine .ffx8_1 { width:87.25%; }
.ffLine .ffxAuto { width:auto; margin-right:1rem; }
.ffLine .ffx_ div { display:block; }
.ffLine .ffx_ label { }


._1f_wrap{ border:0.0625rem solid #CCC; padding:0.25rem; display:inline-block; }
.inpLine { margin-bottom:0.25rem; }
.inpLine input[type=text], .inpLine input[type=number], .inpLine input[type=color], .inpLine input[type=password], .inpLine select{ width:9rem; height:1.875rem; font-size:0.9375rem; margin-right:0.125rem; background-color:#FFF; }

.divLine .clear { position:absolute; top:50%; right:7px; height:14px; width:16px; background-image:url(/_img/cross_small.png); background-repeat:no-repeat; background-position:center center; }
.divLine input[type=text], .divLine input[type=date], .divLine input[type=number], .divLine .input, .divLine input[type=color], .divLine input[type=password]{ 
	display:block; width:100%; min-height:1.875rem; font-size:0.9375rem;
}
.divLine select{ height:1.875rem; font-size:0.9375rem; width:100%; }
.divLine input[type=checkbox] { display:initial; width:auto; height:auto; }
.textNoteWrap {background:#FFFFDD; border:1px solid rgba(0,0,0,0.16);
	min-height:80px; max-height:200px; overflow-y:auto; padding:6px;
}
.divLine  > .btnClear { position:absolute; right:0; top:3px; }
.divLine .subText { display:block; }

.in_x30 { width:1.85rem !important; }
.in_x40 { width:2.5rem !important; }
.in_x60 { width:3.75rem !important; }
.in_x80 { width:5rem !important; }
.in_x90 { width:5.625rem !important; }
.in_x100 { width:6.25rem !important; }
.in_x200 { width:12.5rem !important; }
.in_1x1{ width:98%; }

input[disabled]{ cursor:not-allowed; background:#EEE; }
.textarea_wrap { padding:8px; border:1px solid #CCC; margin:6px 0; }
.fieldset_EEE{
	background:#EEE; border-radius:2px; margin-top:6px;
}
input[type=button] { cursor:pointer; }
.bgDef{ background-color:#d33d32 !important;}
.ajusTextTrim{ white-space:pre; overflow-x:hidden; float:left; }
.ajusTextTrim:hover { overflow-x:auto; }
.ajusTextAll { white-space:pre-line; }
.ajusTextOverFlow { white-space:pre; }
.mPointer { cursor:pointer; }

.head1{
border-bottom:0.0625rem solid #D95B43;
font-weight:bold;
letter-spacing:-1px;
line-height:1rem;
margin-bottom:0.5rem;
}

/* MENU */
.flowLine /* Todo en 1 linea, el menu*/ { 	white-space: nowrap;
	display:block; overflow-x:auto;-webkit-overflow-scrolling: touch; width:100%;
}
.menuInline{ font-size:0.85rem;
white-space: nowrap; display:block; overflow-x:auto; -webkit-overflow-scrolling: touch;
position:relative; top:0; left:0; width:100%; text-transform:Capitalize; margin:0 auto; margin-bottom:0.1875rem;
border-bottom:1px solid #CCC;
line-height: 1;
}
.menuInline > ul  > li { display:inline-block; padding:0.3125rem 0.3125rem 6px 6px; border-radius:15% 15% 0 0; cursor:pointer; }
.menuInline >ul > li:hover, .menuInline >ul > li.active { background-color:#CCC; color:#000;}
/* END MENUS */

fieldset {
 padding: 0.3125rem 10px; margin:0 0 0.125rem 0; width:auto;
 border: #ccc 1px solid; box-shadow: inset 0 0 1px rgba(255, 255, 255, 1);
}
fieldset  legend {
display: block;
width: auto;
padding: 0.1875rem 10px;
margin-left:0.25rem;
margin-bottom: 0.125rem;
font-size:0.6875rem;
font-weight: bold;
line-height: 1.25rem;
color: #444444;
border: 0;
border-bottom: none;
background-color: #f8f8f8;
border: #ccc 1px solid;
}
fieldset  legend { cursor:pointer; }

/* boxes, boxi1, spanLine */
.boxi1Ico { width:1.25rem !important; color:transparent; }
.boxi1, .boxi1min, .boxi1NM, .boxiO{
	padding:0 0.25rem 0 0.25rem !important; border:0.0625rem solid #CCC !important; 
	background-color:#FFF !important; border-radius:0.1875rem; margin-right:0.0625rem;  height:2rem; text-decoration:none !important;
	font-weight:bold; text-align:left; 
	display:inline-block; cursor:pointer;
}
.boxi1 .boxi1_label { overflow:hidden; position:absolute; top:0.125rem; left:0.125rem; font-size:0.7rem; font-weight:normal; }
.boxvPost{ /* caja con información como zeus<email@> */
 font-size:0.75rem; border:0.062rem solid #000; display:inline-block; padding:0.25rem; border-radius:0.25rem; max-width:10rem; white-space:nowrap; overflow:hidden; margin:0 0.25rem 0.25rem 0; position:relative;
}
.boxvPost_close{ position:absolute; top:-0.25rem; right:-0.25rem; cursor:pointer; }
.boxvPost .boxvPost_line{ display:block; }
.boxvPost .boxvPost_lineBlue{ color:blue; }

/*label: responsable, text: input con texto */
.boxiO{ display:inline-block; position:relative; width:7rem; overflow-x:auto; overflow-y:hidden; vertical-align:top; }
.boxiO .boxiO_label { overflow:hidden; position:absolute; top:0.125rem; left:0.125rem; font-size:0.7rem; font-weight:normal; }
.boxiO .boxiO_text{ overflow:hidden !important; position:absolute; top:0.75rem; left:1.5rem; width:5.5rem; border:none !important; background:none !important; }
.boxiO .boxiO_open { position:absolute; left:0; top:0.75rem; }
.boxiO .boxiO_clear { position:absolute; right:0; }

.boxi1NM { padding-right:0 !important; width:1.25rem; }
input[type="button"].boxi1NM{ color:#FFF;}
.boxi1min { min-height:16px; padding:2px;}
input[type="button"].boxi1 { text-align:left; }

.spanLine{ display:inline-block; padding:0.1875rem; border:1px solid #CCC; border-radius:0.1875rem; margin-right:0.3125rem; }
.spanLine_label{ display:inline-block; padding:0.1875rem; margin-right:0.3125rem; }
.spanLine_label span { border:0.0625rem solid #CCC; border-radius:0.1875rem; }
/* border-bottom padding */
.spanLine2{ display:inline-block; padding:0.1875rem; border-bottom:0.0625rem solid #000; }

.spanBox2{
	display:inline-block; padding:0.1875rem; border:1px solid #CCC; border-radius:0.1875rem; margin-right:0.3125rem;
	text-align:center; font-weight:bold; width:40px; margin-bottom:0.1875rem;
}
.spanBox2:nth-child(even){ background-color:#CCC;  }
.spanBox2:nth-child(even) .tTop{ border-bottom-color:#FFF;  }
.spanBox2 .tTop { display:block; border-bottom:1px solid #CCC; }
.spanBox2 .tInput { display:block;  width:100%; }

/* border negro cuadro*/
.spanBox3{ display:inline-block; padding:0.25rem; border:0.0625rem solid #000; border-radius:0.1875rem; margin-right:0.3125rem;
	text-align:center; font-weight:bold;
}


.btn, .btnBor, .btnAddText, .btnNewAction{ background-position:center center; background-repeat:no-repeat; border:none; right:0; width:1.25rem; height:1.25rem; font-weight:bold; cursor:pointer; margin-right:2px !important; background-color:inherit !important; margin-top:0.375rem; }
.btnOnRight { position:absolute; right:16px; top:6px; }
.btnRight { position:absolute; right:0; top:0; }
.btnBor:hover { border-color:#000; background-color:rgba(204,204,204,0.40); }
.btnBor { width:32px; height:30px; border:1px solid #CCC; margin-right:0.1875rem; }
.btnAddText { background-position:left center; padding-left:1.25rem; width:auto; border-bottom:1px solid #000; }
.btnNewAction { background-position:left center; padding:0.2rem; padding-left:1.5rem; width:auto; border:0.0625rem solid #000; border-radius:0.1875rem; height:1.75rem !important; }
.btn_Hover > .btn { visibility:hidden; }
.btn_hover:hover  > .btn { visibility:visible; }
.no-dis { cursor:inherit; }
.btnOnSearch { display:block; width:99%; text-align:left; border:none; border-bottom:0.0625rem solid #CCC; padding:0.25rem; background:none; cursor:pointer; }


.inBtnWrap {border:1px solid #CCC; padding:0 1.25rem 0 0; position:relative; min-height:30px; }
.inBtnWrap input[type=text] { min-height:30px; }
.inBtn, .inBtn_add,.ibtn { padding-left:1.25rem; background-repeat:no-repeat; background-position:left center; cursor:pointer; background-image:url(/_img/add.png); border:none; background-color:transparent; }
.inBtnWrap .inBtn_add { float:left;  border:none; margin:0; height:18px; width:100%; min-width:30px; }
.inBtnWrap .inBtn_clear { background-image:url(/_img/trash.png) #FFF center center no-repeat; border:none; border-left:1px solid #EEE; position:absolute; right:0; top:0.1875rem; width:1.25rem; height:1.25rem; font-weight:bold; cursor:pointer; }
.inBtn_contact { background-image:url(/_img/people.png); }

/* checked */
td.ckLabel { font-size:0.8125rem; padding:0; } 
.ckLabel { border:1px solid #CCC; border-radius:0.1875rem; display:inline-block; }
.ckLabel input[type="radio"] { display:none; }
.ckLabel label {
	cursor:pointer; font-weight:bold;
	display:inline-block; background-color:#F6F6F6;
	padding:4px 11px; border-right:1px solid #EBEBEB;
	font-family:Arial; 
}
.ckLabel label:last-child{ border-right:0; }
.ckLabel input[type="radio"]:checked + label { background-color:#bbb; }

input[type=checkbox].checkSel {
	position: absolute; overflow: hidden; clip: rect(0 0 0 0); 
	height:1px; width:1px; margin:-1px; 
	padding:0; border:0;
}
input[type=checkbox].checkSel + label {
	padding-left:1.5rem; height:1.25rem; 
	display:inline-block; line-height:1rem;
	background-repeat:no-repeat;
	background-position:0.1875rem 0.1875rem !important;
	font-size:1rem; vertical-align:middle; cursor:pointer; padding:0.125rem 0.125rem 0.125rem 1.625rem;
}
input[type=checkbox].checkSel:not(:checked) + label {
	background-image:url(/_img/check_off.png);
}
.checkSel:checked + label  { background-image:url(/_img/ck_complet.png);}
.checkSel_Auth:checked + label  { background-image:url(/_img/user-admin.png);}
.checkSel_Save:checked + label  { background-image:url(/_img/saved.png);}
.checkSel_trash:checked + label  { background-image:url(/_img/trash.png);}
/* end checked */
/* BG CONFIG */
.iBg_ { background-repeat:no-repeat; background-position:0.125rem center; }
.iBg2, .inBtn{ background-position:0.125rem center; background-repeat:no-repeat; min-height:16px; padding-left:20px !important; background-color:inherit; display:inline-block; float:none; }
.ico, .iBg, .iBg0, .iBg_span, .iBgBlock{ background-position:0.125rem center; background-repeat:no-repeat; border:none; min-height:16px; padding-left:20px !important; background-color:transparent; display:inline-block; float:none; }
.iBgBlock { display:block; }
.iBgBig { font-size:1.2rem ; }
select.iBg { border:1px solid #CCC !important; }
.sgaMainTop_Info span.iBg{ min-width:20px; cursor:pointer; }
.iBg_span { display:inline-block; padding-left:20px; }
.iBg_add { background-image:url(/_img/add.png); }
.iBg_produccion{ background-image:url(/_img/produccion.png); }
.iBg_update { background-image:url(/_img/update.png); }
.iBg_change { background-image:url(/_img/change.png); }
.iBg_recibir { background-image:url(/_img/recibir.png); }
.iBg_wareDisponible { background-image:url(/_img/recibir.png); }
.iBg_cartera { background-image:url(/_img/moneyplus.png); }
.iBg_cancel { background-image:url(/_img/cancel.png); }
.iBg_candado{ background-image:url(/_img/CandadoCerrado.png); }
.iBg_info { background-image:url(/_img/information.png); }
.iBg_task { background-image:url(/_img/task.png); }
.iBg_call { background-image:url(/_img/call.png); }
.iBg_meeting { background-image:url(/_img/meet.png); }
.iBg_customer { background-image:url(/_img/empresa.png); }
.iBg_contact, .iBg_contactData, .iBg_people { background-image:url(/_img/people.png); }
.iBg_order, .iBg_orderData { background-image:url(/_img/orderForm.png); }
.iBg_deal, .iBg_opportunity { background-image:url(/_img/money.png); }
.iBg_activity, .iBg_activityData { background-image:url(/_img/activity.png); }
.iBg_activityAssg { background-image:url(/_img/activityAssg.png); }
.iBg_date { background-image:url(/_img/calendar.png); }
.iBg_event { background-image:url(/_img/event.png); }
.iBg_deadLine { background-image:url(/_img/flagYellow.png); }
.iBg_user { background-image:url(/_img/user.png); }
.iBg_chronometer, .iBg_clock { background-image:url(/_img/chronometer.png); }
.iBg_comment { background-image:url(/_img/comment.png); }
.iBg_email { background-image:url(/_img/email-send.png); }
.iBg_attach, .iBg_file { background-image:url(/_img/attach.png); }
.iBg_location, .iBg_visit, .iBg_address { background-image:url(/_img/location.png); }
.iBg_moneyplus, .iBg_recaudoData { background-image:url(/_img/moneyplus.png); }
.iBg_moneyminus { background-image:url(/_img/moneyminus.png); }
.iBg_close { background-image:url(/_img/cross.png); }
.iBg_closeSmall, .CandadoCerrado.png { background-image:url(/_img/cross_small.png); }
.iBg_newDoc, .iBg_doc { background-image:url(/_img/docs.png); }
.iBg_eye { background-image:url(/_img/eye.png); }
.iBg_delivery, .iBg_orderStatusData { background-image:url(/_img/delivery.png); }
.iBg_logTime { background-image:url(/_img/logtime.png); }
.iBg_lead {  background-image:url(/_img/lead.png); }
.iBg_winPlus {  background-image:url(/_img/winplus.png); }
.iBg_winMinus {  background-image:url(/_img/winminus.png); }
.iBg_filterOff {  background-image:url(/_img/filteroff.png); }
.iBg_filterOn {  background-image:url(/_img/filteron.png); }
.iBg_licitacion {  background-image:url(/_img/licitacion.png); }
.iBg_edit {  background-image:url(/_img/edit.png); }
.iBg_computer {  background-image:url(/_img/mycomputer.png); }
.iBg_log {  background-image:url(/_img/logtime.png); }
.iBg_save {  background-image:url(/_img/saved.png); }
.iBg_menuList { background-image:url(/_img/ui_menu.png); }
.iBg_archivador { background-image:url(/_img/archivador.png); }
.iBg_home { background-image:url(/_img/home.png); }
.iBg_print { background-image:url(/_img/print.png); }
.iBg_warning { background-image:url(/_img/warning.png); }
.iBg_birthday { background-image:url(/_img/cake.png); }
.iBg_auth { background-image:url(/_img/user-admin.png);}
.iBg_fingerUp { background-image:url(/_img/fingerup.png);}
.iBg_checkedGreen, .iBg_checked { background-image:url(/_img/checkedgreen.png);}
.iBg_unChecked { background-image:url(/_img/check_off.png);}

.iBg_ico { background-image:url(/_img/ico_txt.png);}
.iBg_icotxt { background-image:url(/_img/ico_txt.png);}
.iBg_icopdf { background-image:url(/_img/ico_pdf.png);}
.iBg_icoxls { background-image:url(/_img/ico_xls.png);}
.iBg_icoimg { background-image:url(/_img/ico_img.png);}
.iBg_icorar { background-image:url(/_img/ico_rar.png);}
.iBg_icorar { background-image:url(/_img/ico_rar.png);}

.iBg_note { background-image:url(/_img/notes.png);}
.iBg_sort { background-image:url(/_img/sort-ascend.png);}
.iBg_ksort { background-image:url(/_img/sort-descend.png); }
.iBg_sortNumber { background-image:url(/_img/sortnumber.png);}
.iBg_ksortNumber { background-image:url(/_img/sortnumberk.png);}
.iBg_clear, .iBg_trash { background-image:url(/_img/trash.png);}
.iBg_update { background-image:url(/_img/update.png); }
.iBg_tbRelation { background-image:url(/_img/tbrelation.png); }
.iBg_arrowGo { background-image:url(/_img/arrow_right.png); }
.iBg_tagPurple { background-image:url(/_img/tagPurple.png); }
.iBg_supervisor { background-image:url(/_img/supervisor.png); }
.iBg_arrowSel { background-image:url(/_img/arrowdownblack.png); }
.iBg_arrowRight { background-image:url(/_img/arrowright.png); }
.iBg_arrowDown { background-image:url(/_img/arrowdown.png); }
.iBg_arrowMinUp { background-image:url(/_img/arrowminup.png); }
.iBg_arrowMinDown { background-image:url(/_img/arrowmindown.png); }
.iBg_sun { background-image:url(/_img/sun.png); }
.iBg_uiForm { background-image:url(/_img/uiform.png); }
.iBg_checklist { background-image:url(/_img/checklist.png); }
.iBg_prio_high { background-image:url(/_img/prio_high.png); }
.iBg_prio_medium { background-image:url(/_img/prio_medium.png); }
.iBg_prio_normal { background-image:url(/_img/prio_normal.png); }
.iBg_prio_low { background-image:url(/_img/prio_low.png); }
.iBg_search2 { background-image:url(/_img/search2.png); }
.iBg_checkBoxMin { background-image:url(/_img/checkboxmin.png); }
.iBg_tagEdit1 { background-image:url(/_img/tagedit1.png); }
.iBg_stockAudit { background-image:url(/_img/handmoney.png); }
.iBg_urllocation { background-image:url(/_img/urllocation.png); }
.iBg_move { background-image:url(/_img/move.png); }
.iBg_move:hover { cursor:move !important; }
.iBg_folderplus{ background-image:url(/_img/folderplus.png); }
.iBg_folderminus{ background-image:url(/_img/folderminus.png); }
.iBg_winMax{ background-image:url(/_img/winmaxi.png); }
.iBg_winMin{ background-image:url(/_img/winmini.png); }
.iBg_newObj{ background-image:url(/_img/newobj.png); }
.iBg_tbaddrow{ background-image:url(/_img/tbaddrow.png); }
.iBg_workFases{ background-image:url(/_img/workfases.png); }
.iBg_board1{ background-image:url(/_img/board1.png); }
.iBg_archive{ background-image:url(/_img/archive.png); }
.iBg_history1{ background-image:url(/_img/history1.png); }
.ico:before{ content:"."; color:transparent; }


/* UL, DIV LIST */
.divUL {}
.divUL .item{ 
	line-height:2; padding:2px 0.3125rem; cursor:pointer;
	border-bottom: 1px solid #ccc;
}
.divUL .item:hover { background-color:#CCC; }
.reList {
list-style-type: none;
margin: 0; padding: 0; margin:10px 0;
}
.reList > li { min-width:85%;
line-height:2; padding:2px 0.3125rem; cursor:pointer;
border-bottom: 1px solid #ccc;
}
.reList >li:last-child {border: none; }
.reList >li:hover { background-color: #f6f6f6; }

ul.ulList {}
ul.ulList > li { padding:7px 0; display:block; }
ul.ulList > li > input[type=button] { min-width:50%; text-align:left; }
ul.ulList > li:hover{ background-color:#CCC; cursor:pointer; }
ul.clicList {}
ul.clicList >li {padding:6px 0.1875rem; }
ul.clicList >li:hover{ background-color:#CCC; cursor:pointer; }
/* gvt */
.gvtDoc_totalLine{
	display:table-row; 
}
.gvtDoc_totalLine_td{
	display:table-cell; padding-right:0.5rem;
}
/* TABLES base*/
.divTb{ border:0.0625rem solid #EEE; }
.divTbRow{
	border-bottom:0.0625rem solid #EEE;
}
.divTbCell {
	display:inline-block; padding:0.0135rem; min-width:calc(10% -0.25rem);
}
.tb_trCols .tdTop{ height:0; padding:0; visibility:hidden; }
.dcell_1{ width:calc(100% -0.25rem); }
.dcell_2{ width:calc(50% -0.25rem); }
.dcell_3{ width:calc(33.33% -0.25rem); }
.dcell_4{ width:calc(25% -0.25rem); }
.dcell_5{ width:calc(20% -0.25rem); }
.dcell_6{ width:calc(16.66% -0.25rem); }
.dcell_7{ width:calc(14.28% -0.25rem); }
.dcell_8{ width:calc(12.5% -0.25rem); }
.dcell_9{ width:calc(11.11% -0.25rem); }
.dcell_10{ width:calc(10% -0.25rem); }


.table_100{ width:auto !important; }
.table_x100{ width:100% !important; }
.ISO_format { width:100%; }
.ISO_format td { font-size:0.625rem; border:1px solid #000; padding:0.25rem; }
.table_x1024{ width:100%; min-width:1024px; }
.table_x600{ width:100%; min-width:600px; }

.tr_bd td{ border:0.0625rem solid #CCC  !important; }
.tr_bdBg td{ border:0.0625rem solid #CCC  !important; background-color:#EEE !important; }
.trVa_middle td { vertical-align:middle !important; }
.trVa_middleCenter td { vertical-align:middle !important; text-align:center; }

.vA_lMid { text-align:left !important; vertical-align:middle !important; }
.vA_rMid { text-align:right !important; vertical-align:middle !important; }
.vA_cMid { text-align:center !important; vertical-align:middle !important; }
.vA_Mid { vertical-align:middle !important; }

tr.tdHead td{ background-color:#CCC !important; font-weight:bold; }

tr.tdAlign_l td{ text-align:left !important; }
tr.tdAlign_r td{ text-align:right !important; }
tr.tdAlign_c td{ text-align:center !important; }
.tr_btn { cursor:pointer; }
.table_nopad tbody td { padding:0 !important; }
.table_zh { font-size:0.85rem; }
.table_zh > thead tr td , .table_zh > tfoot tr td{ border:none; font-weight:bold; }
.table_zh tr.trHead td { border:0.0625rem !important; background-color:#EEE; font-weight:bold; }
.table_zh > thead td, .table_zh > tbody td , .table_zh > tfoot tr td{  padding:8px 6px; vertical-align:top; background-color:#FFF; }
.table_zh > tfoot tr td{ padding:3px; }
.table_zh >tbody td { border:0.0625rem solid #CCC; }
.table_zh >tr td:last-child {  }
.table_zh  >tbody tr:nth-child(even) { background-color:rgba(246,246,246,1) !important; }

/* USADA EN VISTA PREVIA ACTIVIDAD , IGUAL A INSIGHTLY */

.divTb{ display:table;  table-layout:fixed;
	height: 100px; width: 100%;
}
.divTd{ display:table-cell; width:100%; }
.divTb .tdMiddle{ vertical-align:middle; text-align:center; }

.table_fieldsLeft { font-size:0.6875rem; }
.table_fieldsLeft >tbody tr td { border:none; padding:0.5rem 0; }
.table_fieldsLeft tr td:first-child{color:gray; white-space:no-wrap; vertical-align:top; text-align:right;  }
.table_fieldsLeft tr td:last-child{}

.table_covey { width:100%; }
.table_covey .title { font-size:0.75rem; padding:0.375rem; }
.table_covey tbody td { border:1px solid #CCC;  width:48%; vertical-align:top; }
.table_covey .wrapList { min-height:11.25rem; padding:6px 4px 4px 2px; }
.table_covey .high .title { background-color:#EA4335; color:#FFF; }
.table_covey .high  { border-color:#EA4335; }
.table_covey .medium .title { background-color:#FBC423; color:#000; }
.table_covey .medium  { border-color:#FBC423; }
.table_covey .normal .title { background-color:#34A853; color:#FFF; }
.table_covey .normal  { border-color:#34A853; }
.table_covey .low .title { background-color:#4285F4; color:#FFF; }
.table_covey .low  { border-color:#4285F4; }
.table_covey .inbox .title { background-color:#565556; color:#FFF; }
.table_covey .inbox { border-color:#565556; }

.table_abc td{ font-size:0.6875rem; text-transform:uppercase; border:1px solid #CCC; }
.table_abc td a { text-decoration:none; padding:0.3125rem; }
.table_abc .l_active { background:#EEE !important; }

.tableSizes{ font-size:0.8125rem; margin:0.25rem 0;}
.tableSizes thead tr td, .tableSizes > tr:first-child td { font-weight:bold; text-align:center; position:relative; border-bottom:0.0625rem solid #CCC; margin-bottom:0.375rem; background-color:#EEE; }
.tableSizes td { border-left:0.0625rem solid #CCC; text-align:center; padding:0.3125rem 0.25rem !important; }
.tableSizes td:last-child { border-right:0.0625rem solid #CCC !important; }

.jsTable{ font-size:0.8125rem; }
.jsTable .tr { float:left; width:50px; border:1px solid #CCC; }
.jsTable:after { display:block; clear:both; content:""; }
.jsTable .tdhead { padding:0.3125rem 2px; font-weight:bold; text-align:center; position:relative; border-bottom:1px solid #CCC; margin-bottom:6px; }
.jsTable .tdhead img.close { width:12px; min-width:12px; cursor:pointer; position:absolute; right:0; top:0;}
.jsTable .td input { width:100%; }

.table_even { margin:0.5rem 0; font-size:0.8rem; min-width:100%;  }
.table_even thead tr td{ background-color:#EEE; font-weight:bold; }
.table_even td { border-bottom:1px solid #DDD; padding:0.1875rem; vertical-align:top; border-right:none; padding:0.5rem 0.3rem 0.5rem 0;}
.table_even tr td:last-child { border-right:1px solid #EEE; }
.table_even tr:last-child td {  }
.table_even tr:nth-child(even){ background:#EEE;; }
.table_even tr:first-child td, .tdh1..tdh1B { font-weight:700;  }
.tdh1B { background-color:#919191 !important; color:#000 !important; }

.table_simple { margin:0.5rem 0; }
.table_simple thead tr td{ background-color:#EEE; font-weight:bold; }
.table_simple td { border-bottom:0.0625rem solid #DDD; padding:0.1875rem; vertical-align:top; border-right:none; padding:0.3rem;}
.table_simple tr td:last-child { border-right:0.0625rem solid #EEE; }
.table_simple tr:last-child td {  }
.table_simple tr:nth-child(even){ background:#EEE;; }
.tdh1B { background-color:#919191 !important; color:#000 !important; }

/* BTNS */
.googBtn { background-color:#F3F3F3; padding:0.1875rem 8px; border:1px solid #CCC; border-radius:2px; font-weight:bold; text-align:center; margin-right:0.1875rem; }
.googBtn:hover{ border:1px solid #AAA;; }
.inBtn_clear{ background-image:url(/img/trash.png) center center no-repeat; border:none;  min-width:1.25rem; font-weight:bold; cursor:pointer; background-color:transparent; }

.ui_button, input[type=submit] { cursor:pointer; padding:0.3125rem 0.75rem;
 background-color:#d33d32; color:#FFF !important; font-weight:700; margin-right:0.1875rem; margin-top:0.375rem;
}
.ui_button_reset, input[type=reset] { cursor:pointer; padding:0.3125rem 12px;
 background:#ce4b27; color:#FFF !important; font-weight:700;
}

.pager_btn, .pager_num{ padding:0.25rem 0.5rem !important; border:0.0624rem solid #EEE !important; border-radius:0.25rem !important; font-weight:bold !important; background:#CCC !important; cursor:pointer !important; }
.pager_num{ cursor:default !important; width:3rem; font-size:0.75rem; text-align:center; }

/* upload files */
.psUploadFile, .psUFile {
	width: 0.1px; height: 0.1px;
	opacity: 0; overflow: hidden; position: absolute; z-index: -1;
}
.psUploadFile + label { cursor:pointer; border:1px solid #CCC; border-radius:5px;
color:transparent; background:url(/img/add.svg) no-repeat center center;
display:inline-block; height:120px; margin-left:5px;
}
.psUFile + label {
	cursor:pointer; border:1px solid #CCC; border-radius:5px;
color:transparent; background:no-repeat center center;
display:inline-block; 
}
.psUFile_x32 +label { 
	height:40px; width:40px; background-image:url(/_img/addfilee.png);
}
.psUpdList_Item { padding:3px 3px; margin-bottom:4px; border:1px solid #CCC; border-radius:6px; }
.psUpdList_Item .docInfo { padding:3px; font-size:13px; }
.psUpdList_Item .docInfo .userName{ font-style:italic; }
.psUpdList_Item .docInfo .dateC{ margin-left:20px;  }
*[onclick]{ cursor:pointer; }
.cPointer { cursor:pointer !important; }
/* COMMENTS */
.psCommentFloatListWrap{ }
.psCommentFloatListWrap{ }
.psCommentFloatListWrap:after { content:""; clear:both; }
.psCommentFloatList_Item { padding:5px; font-size:13px; border:1px solid #CCC;
	border-radius:5px; margin-bottom:5px; background:#FFF; position:relative; }
.psCommentFloatList_Item .iName { font-weight:bold; display:inline-block; margin-left:10px; }
.psCommentFloatList_Item .iDate { color:#898E95; display:inline-block; font-size:12px; }
.psCommentFloatList_Item .iComment {padding:5px 5px; }

/* input_response */
.input_ok, .input_error, .input_warning,.input_info { font-weight:bold; margin:2px 0;padding: 0.3125rem 0.5rem; font-size:0.75rem; }
.input_ok { background-color:#1ab394 !important; color:#000; }
.input_error { background-color:#ed5565 !important; color:#FFF !important; }
.input_warning { background-color:#f8ac59 !important; color:#000; }
.input_info {background-color:#008CBA !important; color:#FFF;}

._prio_bl_high { border-left:0.2rem solid #EA4335 !important; }
._prio_bl_medium { border-left:0.2rem solid #FBC423 !important; }
._prio_bl_normal { border-left:0.2rem solid #34A853 !important; }
._prio_bl_low { border-left:0.2rem solid #4285F4 !important; }

.cash_cancel{ text-decoration:line-through !important; color:#F00 !important}
/* $Sche */
.sChe_agenda{}
.sChe_agenda .sCche_trTitle{ background-color:#0DD; font-weight: bold; }
.sChe_agenda .sCche_trLine{ display:table-row; border-bottom:0.0625rem solid #DDD; }
.sChe_agenda .sCche_td { display:table-cell; padding:0.25rem; }
.sChe_agenda .sCche_tdTime { width:6.25rem; }
.sChe_agenda{}
/* end $Sche */
/* c */
.crm_prpLine{
	display: inline-block; padding:0.25rem; border-radius:5%; margin-left:0.125rem; font-size:90% !important; border:0.0625rem solid #DDD;
}

/* end Organizador */

/* Mpa */
.apiBoxi{ /* caja con información como zeus<email@> */
 font-size:0.75rem; border:0.062rem solid #000; display:inline-block; padding:0.25rem; border-radius:0.25rem; max-width:10rem; white-space:nowrap; overflow:hidden; margin:0 0.25rem 0.25rem 0; position:relative;
}
.apiBoxi_close{ position:absolute; top:-0.25rem; right:-0.25rem; cursor:pointer; }
.apiBoxi .apiBoxi_line{ display:block; }
.apiBoxi .apiBoxi_lineBlue{ color:blue; }
/* End Mpa */

/* responsibe */
.pagePrint_letter{ position:relative;
	height:312mm; width: 227mm; margin:0 auto; size:letter; background: white;
}
.pagePrint_footer { position:absolute; bottom:0; font-size:0.8rem; }

.pre {
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
}

/* print conf */
.textNowrap {white-space: nowrap;}
.justPrint{ display:none; }
.pageBreakBef { page-break-before: always;}
.pageBreak { clear: both; page-break-after: always; break-after:always; }
@media print {
html, body { font-size:14pt; padding:0 !important; margin:0 !important; background-color:#FFF;  }
body {
}
@page {
	/* size:letter portrait; letter x 72ppi */
/*  	size:612px 792px; a4 x 72ppi */
	/* 	size:letter portrait; size:210mm 297mm;  */
	/* margin:0; */
}
.page_header{ position:fixed; top:0; }
.no-print { display:none !important; }
.justPrint{ display:inherit; }
#admsWinPrinter { height:auto; width:auto;  min-heihgt:2040px; }
.section-to-print{
	visibility:visible; top:0; left:0; width:1024px;
}
.page_fullContent{
	width:100vw;  height:100hw; page-break-after:always;
	margin: 0; padding: 0;
}
.page_imgBgFull img {  }
.page_textContent{ margin:1.0cm 1.5cm; }
.pageBreak { clear: both; page-break-after: always;}
.print_pagBreakBef{ float:none !important; page-break-before:always; display:block; }
.print_pagBreakAfter{ float:none !important; page-break-after:always; display:block;}
}
@media only screen and (max-width: 61.25rem) {
#bodyAjax { overflow-x:overlay; }
.formMail label { display:inline-block; float:none; width:100%; text-align:left;}
.formMail .input { width:100%; float:none; }
.DOMwin_bkFixed .winWrapInt { padding:0; }
.DOMwin_bkFixed .winWrapCont { padding-bottom:8px; max-height:98%; }
}
@media only screen and (max-width: 38.75rem){
.wrapx1, .wrapx2, .wrapx3, .wrapx4, .wrapx5, .wrapx6, .wrapx7, .wrapx8,.wrapx9, .wrapx10,
.wrapx4_1, .wrapx5_1, .wrapx6_1,.wrapx7_1,.wrapx8_1,.wrapx9_1,.wrapx10_1
{ display:inline-block !important; float:none !important; width:100% !important; margin-bottom:5px; }
.ffLine .ffx_{
	width:48% !important; margin-bottom:0.5rem;
}
.DOMwin_open { width:99% !important; height:99% !important; top:0 !important; left:0 !important; overflow-x:scroll;}
._winOpenBk {padding:0.25rem; top:0; height:100%; border:none; overflow:auto; display:block; width:100% !important; }

._5b_wrapBoard { width:auto; display:block; }

._5a_wrapBar_left { width:auto; min-width:auto; float:none;}
._5a_wrapBar_middle { width:auto; min-width:1auto; float:none; }
.winUl_hide_btnOpen{ display:block; }
.winUl_hide_wrapList{ display:none; position:absolute; top:100%; left:0; border:0.0625rem solid #CCC; background-color:#FFF; max-width:100%; min-width:15rem; padding:0.5rem; padding:0.5rem;  }
